# Created by https://www.toptal.com/developers/gitignore/api/bloop,scala,mill,metals
# Edit at https://www.toptal.com/developers/gitignore?templates=bloop,scala,mill,metals

### Bloop ###
.bloop/

### Metals ###
.metals/
project/**/metals.sbt

### Mill ###
out

### Scala ###
*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# End of https://www.toptal.com/developers/gitignore/api/bloop,scala,mill,metals

### Additionals ###
.bsp
